.view-header{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding: 0 10px;
    color: white;
    /*padding: 0 8px;*/
}

.view-header-name{
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.view-header .el-tooltip{
    font-size: 13px!important;
}

.view-list-item-left .el-tooltip{
    font-size: 15px!important;
}

.view-list-context{
    margin-top: 10px;
}

.view-list-item{
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    margin-bottom: 5px;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    font-size: 12px;
}

.view-list-item-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.view-list-item-right{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.view-list-item:hover{
    background-color: #f7f7f7;
    color: #333333;
}

.select-view-style{
    background-color: #f7f7f7;
    color: #333333;
}

.select-view-style .el-icon-more-outline{
    color: #333333!important;
}

.view-list-item .el-icon-more-outline{
    color: white;
}

.view-list-item-name{
    margin-left: 5px;
}