*{
    padding: 0;
    margin: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background-color: #f7f7f7;
    height: 100%;
    /*padding: 0px 20px;*/
    overflow: hidden;
}

.main-view-item-left{
    width: 270px;
    height: 100%;
    background-color: white;
    border-right: 1px solid #e4e4e4;
    padding: 10px 15px;
}

.main-view-item-left .el-input--mini .el-input__inner {
    height: 35px;
    width: 95%;
}

.main-view-item-right{
    width: 100%;
    padding: 0px 20px;
}

.header-view{
    margin-bottom: 10px;
}

.footer-view{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-warp{
    display: flex;
    justify-content: space-between;
}

.header-warp{
    width: 100%;
    height: 45px;
    /*background-color: cadetblue;*/
    padding: 12px 0px 0;
    color: #8c8c8c;
    display: flex;
    justify-content: space-between;
}

.header-button{
    font-size: 12px;
    padding: 3px 10px;
    color: #595959;
    height: 24px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

.header-button1{
    font-size: 12px!important;
    padding: 3px 10px!important;
    height: 24px!important;
    border-radius: 3px!important;
    cursor: pointer!important;
    user-select: none!important;
}

.header-button:hover{
    color: #262626;
    background-color: #e5e5e5;
    transition: color,background-color 218ms;
}

.select-header-button{
    background-color: #409EFF;
    color: white;
}

.select-header-button:hover{
    background-color: #3d92ee !important;
    color: white!important;
    transition: color,background-color 218ms;
}

.color-list-body{
    display: flex;
    justify-content: space-between;
}

.color-list-item{
    background-color: rgb(230, 36, 18);
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 20px;
    transition: border-radius,width 218ms;
}

.color-list-item:hover{
    border-radius: 4px;
    width: 30px;
    transition: border-radius,width 218ms;
}

.selectFieldColor{
    border-radius: 4px;
    width: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}

#app{
    height: 100%;
}

.main-view-body{
    height: 100%;
    display: flex;
}

.render-view{
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 10px;
}

.render-view .el-input{
    width: 115px;
}

.filter-body{
    display: flex;
    flex-direction: column;
}

.filter-view-warp{
    display: flex;
    justify-content: flex-end;
}

.data-filter-view{
    width: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: -19px;
    height: 50px;
    margin-right: 10px;
}

.data-filter-view .el-input--mini .el-input__inner{
    height: 24px!important;
}

.data-filter-view .el-input{
    width: 120px;
}

.data-filter-view::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 5px;
}
.data-filter-view::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(239, 239, 239, 0.2);
    background: #535353;
}
.data-filter-view::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(239, 239, 239, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}

.create-date-body  .el-form-item__label{
    width: 55px!important;
    line-height: 15px!important;
}

/*.left-form-item .el-form-item__label-wrap{*/
/*    width: 50px;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*}*/

/*.right-form-item .el-form-item__label-wrap{*/
/*    width: 50px;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*}*/