.el-table thead{
    color: #262626;
}
.el-table{
    font-size: 12px;
    border-radius: 5px;
}

.el-link{
    font-size: 12px;
}

.el-popover__title{
    font-size: 13px;
    font-weight: bold;
}

.el-dropdown-menu__item{
    list-style: none;
    line-height: 32px;
    padding: 0 15px;
    margin: 0;
    font-size: 12px;
    color: #606266;
    cursor: pointer;
    outline: 0;
}

.el-form-item--mini .el-form-item__content, .el-form-item--mini .el-form-item__label{
    line-height: 10px;
}

.el-dialog__body{
    padding: 10px 20px;
}

.el-button + .el-button {
    margin-left: 0px;
}

.create-date-body .el-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.custom-form-item{

}

.left-form-item{
    width: 42%;
}

.right-form-item{
    width: 42%;
}

.el-input-number--mini{
    width: 100%!important;
}

.number-filter-body .el-form-item{
    margin-right: 5px;
    width: 110px;
}

.text-filter-body .el-form-item__content{
    width: 100%;
}


.filter-body .el-form-item{
    margin-bottom: 0px;
}

.filter-body .el-form-item__label{
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    color: #6e6e6e;
    line-height: 30px;
}
