.el-table thead{
    color: #262626;
}
.el-table{
    font-size: 12px;
    border-radius: 5px;
}

.el-link{
    font-size: 12px;
}

.el-popover__title{
    font-size: 13px;
    font-weight: bold;
}

.el-dropdown-menu__item{
    list-style: none;
    line-height: 32px;
    padding: 0 15px;
    margin: 0;
    font-size: 12px;
    color: #606266;
    cursor: pointer;
    outline: 0;
}

.el-form-item--mini .el-form-item__content, .el-form-item--mini .el-form-item__label{
    line-height: 10px;
}

.el-dialog__body{
    padding: 10px 20px;
}

/*.el-table__body-wrapper::after{*/
/*    content: '1. 点击 “视图列表”右上角 “+”号，进行新建视图 \A 2. 点击 “添加新字段”为该视图新建字段 \A 3. 点击“新增数据”为该视图新增数据 \A 4. 开始游戏';*/
/*    margin: 100px auto;*/
/*    white-space: pre;*/
/*    display: block;*/
/*    text-align: center;*/
/*    font-size: 18px;*/
/*    line-height: 2;*/
/*    color: #a6a6a6;*/
/*}*/

.el-table__body-wrapper{
    background-image: linear-gradient(90deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%), linear-gradient(360deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%);
    background-size: 20px 20px;
    background-position: center center;
}
