<!DOCTYPE html>
<html lang="en" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- import CSS -->
<!--    <link rel="stylesheet" href="https://unpkg.zhimg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="/static/css/external/element-ui/index.css"  />
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/component-view.css">
    <link rel="stylesheet" href="/static/css/override.css">
    <link rel="stylesheet" href="/static/css/component-data-source.css">
    <link rel="stylesheet" href="/static/css/external/vxe-table/style.css">
    <link rel="stylesheet" href="/static/css/vxe-table-override.css">
</head>
<!--onContextMenu="return false"-->
<body>
<div style="opacity: 0" id="app">

    <!--  添加数据 dialog  -->
    <el-dialog
            :close-on-click-modal="false"
            :title="getEditModeStr() + '数据'"
            :visible.sync="editDataDialog"
            width="600px"
            :before-close="editDataDialogClose">
        <span slot="footer" class="dialog-footer">
            <el-button @click="editDataDialogClose">取 消</el-button>
            <el-button type="primary" @click="editColumnData">{{ getEditModeStr() }}</el-button>
        </span>
        <div class="create-date-body">
            <el-form size="mini" label-width="auto" label-position="top">
                <div class="left-form-item">
                    <el-form-item v-if="!item.system && index % 2 != 0" :label="item.title"
                                  v-for="(item,index) in gridOptions.columns">
                        {{ renderChild( $createElement, item ) }}
                        <slot :name="item.field"></slot>
                    </el-form-item>
                </div>
                <div class="right-form-item">
                    <el-form-item v-if="!item.system && index % 2 == 0" :label="item.title"
                                  v-for="(item,index) in gridOptions.columns">
                        {{ renderChild( $createElement, item ) }}
                        <slot :name="item.field"></slot>
                    </el-form-item>
                </div>

            </el-form>
        </div>
    </el-dialog>

    <!--  添加数据源 dialog  -->
    <el-dialog
            title="添加新数据源"
            :visible.sync="createDataSourceDialog"
            width="400px"
        >
        <span slot="footer" class="dialog-footer">
            <el-button @click="createDataSourceDialog = false">取 消</el-button>
            <el-button type="primary" @click="createDataSourceDialog = false">确 定</el-button>
        </span>
        <el-form size="mini" label-position="top" label-width="80px">
            <el-form-item required="true" label="数据源名称">
                <el-input v-model="fieldCreateInfo.fieldName" show-word-limit minlength="3" type="text" maxlength="30"
                          placeholder="填写字段名称"></el-input>
            </el-form-item>
            <el-form-item label="数据源描述">
                <el-input v-model="fieldCreateInfo.fieldDesc" show-word-limit minlength="6" type="text" maxlength="200"
                          placeholder="填写字段描述"></el-input>
            </el-form-item>
        </el-form>
        <el-divider content-position="left">添加属性</el-divider>
    </el-dialog>

    <!--  添加新字段 dialog  -->
    <el-dialog
            title="添加新字段"
            :visible.sync="createFieldDialogVisible"
            :close-on-click-modal="false"
            width="400px"
            >
        <el-form size="mini" label-position="top" label-width="80px">
            <el-form-item required="true" label="字段名称">
                <el-input v-model="fieldCreateInfo.fieldName" show-word-limit minlength="3" type="text" maxlength="30"
                          placeholder="填写字段名称"></el-input>
            </el-form-item>
<!--            <el-form-item label="字段描述">-->
<!--                <el-input v-model="fieldCreateInfo.fieldDesc" show-word-limit minlength="6" type="text" maxlength="200"-->
<!--                          placeholder="填写字段描述"></el-input>-->
<!--            </el-form-item>-->
            <el-form-item required="true" label="字段类型">
                <el-select value-key="fieldCode" v-model="fieldCreateInfo.fieldTypeInfo"  placeholder="请选择字段类型">
                    <el-option v-for="item in fieldTypes" :label="item.fieldName" :value="item"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item v-if="fieldCreateInfo.fieldTypeInfo != null && fieldCreateInfo.fieldTypeInfo.isEnum == true"
                          required="true" label="数据源">
                <el-popover
                        placement="right-start"
                        title=""
                        width="205"
                        trigger="click">
                    <el-button slot="reference">选择数据源 <i class="el-icon-arrow-right"></i></el-button>
                    <div class="data-source-view">
                        <div class="data-source-header">
                            <div>
                                <el-input placeholder="输入数据源名称" v-model="input3" class="input-with-select">
                                    <el-button slot="append" icon="el-icon-search"></el-button>
                                </el-input>
                            </div>
                            <div>
                                <i @click="createDataSourceDialog = true" style="cursor: pointer;"
                                   class="el-icon-circle-plus-outline"></i>
                            </div>
                        </div>
                        <div class="data-source-content">
                            <div class="data-source-list view-list-context">
                                <!--                                如果存在选中，则第一个就是-->
                                <div class="data-source-item view-list-item select-view-style">
                                    <div class="view-list-item-left">
                                        <div>当前选中的数据源</div>
                                    </div>
                                    <div class="view-list-item-right">
                                        <div>
                                            <i style="margin-right: 2px" class="el-icon-view"></i>
                                            <i style="margin-right: 2px" class="el-icon-edit-outline"></i>
                                            <i class="el-icon-circle-close"></i>
                                        </div>
                                    </div>
                                </div>
                                <!--                                如果存在选中，则这个列表中需要排除掉-->
                                <div v-for="item in 5" class="data-source-item view-list-item ">
                                    <div class="view-list-item-left">
                                        <div>测试数据源{{item}}</div>
                                    </div>
                                    <div class="view-list-item-right">
                                        <div>
                                            <i style="margin-right: 2px" class="el-icon-view"></i>
                                            <i style="margin-right: 2px" class="el-icon-edit-outline"></i>
                                            <i class="el-icon-circle-close"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </el-popover>
            </el-form-item>
<!--            <el-form-item label="字段背景色">-->
<!--                <div class="color-list-body">-->
<!--                    <div @click="fieldCreateInfo.fieldColorCode = item.colorCode"-->
<!--                         v-for="item in colorList"-->
<!--                         :class="'color-list-item ' + (fieldCreateInfo.fieldColorCode != null && fieldCreateInfo.fieldColorCode == item.colorCode ? 'selectFieldColor' : '')"-->
<!--                         :style="'background-color: ' + item.color"></div>-->
<!--                </div>-->
<!--            </el-form-item>-->
<!--            <el-form-item label="是否固定">-->
<!--                <el-radio-group v-model="fieldCreateInfo.fixed">-->
<!--                    <el-radio border :label="1">固定</el-radio>-->
<!--                    <el-radio border :label="0">不固定</el-radio>-->
<!--                </el-radio-group>-->
<!--            </el-form-item>-->
        </el-form>

        <span slot="footer" class="dialog-footer">
            <el-button @click="createFieldDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="createViewFieldInfo">添 加</el-button>
        </span>
    </el-dialog>

    <div class="main-view-body">
        <div class="main-view-item-left">
            <el-input style="margin: 0px 5px" size="mini" v-model="input" placeholder="搜索视图"></el-input>
            <div>
                <div class="view-header">
                    <div>
                        <span class="view-header-name">视图</span>
                        <el-tooltip class="item" effect="dark" content="通过创建视图，将字段进行分视图管理" placement="right">
                            <i class="el-icon-warning-outline"></i>
                        </el-tooltip>
                    </div>
                    <div>
                        <el-popover
                                ref="createViewPopoverItem"
                                placement="bottom"
                                title="创建新视图"
                                width="200"
                                trigger="click">
                            <i slot="reference" style="cursor: pointer" class="el-icon-circle-plus-outline"></i>
                            <div>
                                <el-input ref="viewNameInputRef" show-word-limit minlength="3" type="text"
                                          maxlength="30" size="mini" v-model="viewNameStorage"
                                          placeholder="请输入视图名称"></el-input>
                                <el-button @click="createView" style="margin-top: 7px;float: right;"
                                           type="primary" size="mini">创建
                                </el-button>
                            </div>
                        </el-popover>
                    </div>
                </div>
                <div class="view-context">
                    <div class="view-list-context">
                        <div :class="'view-list-item ' + (currSelectViewInfo != null && currSelectViewInfo.viewId == item.viewId ? 'select-view-style' : '') "
                             @click="selectCurrViewItem(item,index)"
                             v-for="(item,index) in viewList">
                            <div class="view-list-item-left">
                                <div>
                                    <i class="el-icon-date"></i>
                                    <span class="view-list-item-name">{{item.viewName}}</span>
                                </div>
                            </div>
                            <div class="view-list-item-right">
                                <el-dropdown placement="bottom-start">
                                    <i class="el-icon-more-outline"></i>
                                    <el-dropdown-menu slot="dropdown">
                                        <el-popover
                                                :ref="'viewUpdatePopoverItem' + index"
                                                placement="right-start"
                                                title="修改视图"
                                                width="200"
                                                trigger="hover">
                                            <el-dropdown-item slot="reference"><i class="el-icon-edit"></i>修改视图名称
                                                <i class="el-icon-arrow-right"></i></el-dropdown-item>
                                            <div>
                                                <el-input :ref="'viewNameUpdateInputRef' + index"
                                                          show-word-limit minlength="3" type="text"
                                                          maxlength="30" size="mini" v-model="viewNameStorage"
                                                          placeholder="请输入视图名称"></el-input>
                                                <el-button @click="updateView(item.viewId,index)"
                                                           style="margin-top: 7px;float: right;" type="primary"
                                                           size="mini">修改
                                                </el-button>
                                            </div>
                                        </el-popover>
                                        <el-popconfirm @confirm="removeView(item.viewId)" title="请再次确认删除操作!">
                                            <el-dropdown-item slot="reference"><i class="el-icon-coffee"></i>删除该视图
                                            </el-dropdown-item>
                                        </el-popconfirm>

                                    </el-dropdown-menu>
                                </el-dropdown>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="main-view-item-right">
            <div class="header-view">
                <div v-if="currSelectViewInfo != null" class="header-warp">
                    <div class="header-left-view" >
                        <!--       添加新字段 只有在选择好视图时才会展示         -->
                        <el-button v-if="currSelectViewInfo != null" class="el-dropdown-link header-button"
                                   @click="createFieldDialogVisible = true" size="mini" icon="el-icon-circle-plus">添加新字段
                        </el-button>
                        <!--      添加新数据，只有在当前视图存在字段时展示     -->
                        <el-button v-if="gridOptions.columns.length > 0" class="el-dropdown-link header-button"
                                   @click="checkEditMode(0)" size="mini" icon="el-icon-circle-plus">添加数据
                        </el-button>
                    </div>
                    <div class="header-center-view">
                        <div class="header-center-input-view">
                            <div v-if="item.showFilter" class="" v-for="(item,index) in originalColumn">
                                {{ renderFilter( $createElement, item ) }}
                                <slot :name="item.field"></slot>
                            </div>
                        </div>
                        <div v-id="">
                            <el-button @click="filterColumnDate" class="header-button1" type="primary"  size="mini">
                                <i class="el-icon-view" style="margin-right: 5px"></i>筛选</el-button>
                            <el-button v-if="selectData.filter.length != 0" @click="resetFilterColumnData" class="header-button1" size="mini">
                                <i class="el-icon-turn-off" style="margin-right: 5px"></i>
                                重置</el-button>
                        </div>
                    </div>
                    <div class="header-right-view">
                        <el-popover
                                placement="bottom-end"
                                width="120"
                                trigger="click">
                            <el-button slot="reference" class="header-button1" size="mini">
                                筛选设置<i class="el-icon-arrow-down el-icon--right"></i>
                            </el-button>

                            <div class="filter-options-list">
                                <el-checkbox v-model="item.showFilter" v-if="!item.system" class="filter-option-item" v-for="(item,index) in originalColumn" :label="item.title" :key="index">{{item.title}}</el-checkbox>
                            </div>

                        </el-popover>
                        <el-popover
                                placement="bottom-end"
                                width="120"
                                trigger="click">
                            <el-button slot="reference" class="header-button1" size="mini">
                                列设置<i class="el-icon-arrow-down el-icon--right"></i>
                            </el-button>

                            <div class="filter-options-list">
                                <el-checkbox v-model="item.visible" v-if="!item.system" class="filter-option-item" v-for="(item,index) in gridOptions.columns" :label="item.title" :key="index">{{item.title}}</el-checkbox>
                            </div>

                        </el-popover>
                    </div>
                </div>
            </div>
            <!--clientHeight - 105-->
            <div class="main-view">
                <div class="main-warp">
                    <vxe-grid
                              @cell-dblclick="checkEditMode(1,$event.row.rowId)"
                              @checkbox-range-change="gridOptions.checkboxRangeChange"
                              @checkbox-all="gridOptions.checkboxAll"
                              @checkbox-change="gridOptions.checkboxChange"
                              column-key
                              @resizable-change="gridOptions.resizableChange"
                              :loading="tableDataLoading"
                              :max-height="clientHeight - 110"
                              ref="xTable"
                              v-bind="gridOptions">
                        <!-- 操作列-->
                        <template v-slot:operate>
                            <el-link :underline="false" type="primary">查看</el-link>
                            <el-link :underline="false" type="primary">编辑</el-link>
                            <el-link :underline="false" type="danger">删除</el-link>
                        </template>
                    </vxe-grid>
                </div>
            </div>

            <div v-if="currSelectViewInfo != null" class="footer-view">
                <div class="footer-warp">
                    <div class="footer-left-view">
                        <el-popconfirm
                                v-if="selectedRowDataArrays.length > 0"
                                title="确定删除这些数据吗？"
                                @onConfirm="batchRemoveRowData()">
                            <el-button slot="reference" type="danger" class="el-dropdown-link header-button-delete"
                                       size="mini" icon="el-icon-delete">批量删除数据 {{selectedRowDataArrays.length}} 条
                            </el-button>
                        </el-popconfirm>

<!--                        <div class="footer-select-data-length" v-if="selectedRowDataArrays.length > 0">已选中：{{selectedRowDataArrays.length}}</div>-->
                    </div>
                    <div class="footer-right-view">
                        <div class="footer-select-data-length">Total Count: {{dataResult.totalDataCount}}</div>
                        <el-pagination
                                @current-change="changeCruuPage"
                                @prev-click="changeCruuPage"
                                @next-click="changeCruuPage"
                                :total="dataResult.totalDataCount"
                                :page-size="dataResult.currPageSize"
                                :current-page="dataResult.currPage"
                                background
                                layout="prev, pager, next"
                        >
                        </el-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>
</body>
<!-- import Vue before Element -->
<script src="/static/js/external/vue/vue.js"></script>
<!-- table renderers -->
<script src="/static/js/table/renderers.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.zhimg.com/element-ui/lib/index.js"></script>
<!-- jquery -->
<script src="/static/js/external/jquery/jquery.min.js"></script>
<!-- vxe-table -->
<script src="/static/js/external/vxe-table/xe-utils.js"></script>
<script src="/static/js/external/vxe-table/vxe-table.js"></script>
<!-- 基础变量以及方法js -->
<script src="/static/js/base.js"></script>
<!-- view 相关 api -->
<script src="/static/js/api/view-request.js"></script>
<!-- vue 数据初始化 js -->
<script src="/static/js/vue-component/init.js"></script>
<!-- vue data js -->
<script src="/static/js/vue-component/data.js"></script>
<!-- vue methods js -->
<script src="/static/js/vue-component/methods.js"></script>
<!-- util -->
<script src="/static/js/util.js"></script>
<!-- menu -->
<script src="/static/js/vue-component/menu.js"></script>
<!-- 拓展接口 api -->
<script src="/static/js/api/expand-request.js"></script>
<!-- 字段 api -->
<script src="/static/js/api/field-request.js"></script>
<!-- 字段 api -->
<script src="/static/js/vue-component/entity/fieldInfo.js"></script>
<!-- data api -->
<script src="/static/js/api/date-request.js"></script>
<!-- https://github.com/SortableJS/sortablejs 列拖拽排序 -->
<!--<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>-->
<script>

    // Vue 全局实例
    var vm = null;

    // 创建 Vue 实例
    new Vue({
        el: '#app',
        created: init,
        data: data,
        methods: methods()
    });

</script>
</html>