<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/override.css">
</head>
<body onContextMenu="return false">
<div id="app">

    <!--        <div id="contextmenu"-->
    <!--             v-show="menuVisible"-->
    <!--             class="menu">-->
    <!--            <div class="contextmenu__item"-->
    <!--                 @click="ShowView(CurrentRow)">查看</div>-->
    <!--            <div class="contextmenu__item"-->
    <!--                 @click="EditData(CurrentRow)">修改</div>-->
    <!--        </div>-->

    <el-dropdown-menu class="menu" id="contextmenu" v-show="menuVisible">
        <el-dropdown-item><i class="el-icon-view"></i>查看</el-dropdown-item>
        <el-dropdown-item><i class="el-icon-edit-outline"></i>修改</el-dropdown-item>
        <el-dropdown-item><i class="el-icon-brush"></i>修改行色</el-dropdown-item>
        <el-dropdown-item><i class="el-icon-close"></i>删除</el-dropdown-item>
    </el-dropdown-menu>

    <el-dialog
            title="添加新字段"
            :visible.sync="dialogVisible"
            width="20%"
            :before-close="handleClose">
        <span>这是一段信息</span>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
        </span>
    </el-dialog>

    <div class="header-view">
        <div class="header-warp">
            <div>
                <el-popover
                        placement="bottom"
                        title="视图"
                        width="250"
                        trigger="click"
                        content="这是一段内容,这是一段内容,这是一段内容,这是一段内容。">

                    <!--           点击按钮             -->
                    <span slot="reference" class="el-dropdown-link header-button">
                            视图列表
                            <i class="el-icon-arrow-down el-icon--right"></i>
                        </span>

                </el-popover>
            </div>
            <div>
                <el-dropdown trigger="click">
                    <span class="el-dropdown-link header-button">
                        筛选<i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>黄金糕</el-dropdown-item>
                        <el-dropdown-item>狮子头</el-dropdown-item>
                        <el-dropdown-item>螺蛳粉</el-dropdown-item>
                        <el-dropdown-item disabled>双皮奶</el-dropdown-item>
                        <el-dropdown-item divided>蚵仔煎</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <el-dropdown trigger="click">
                    <span class="el-dropdown-link header-button">
                        <i class="el-icon-arrow-down el-icon-more"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item><i class="el-icon-upload2"></i>导入Excel</el-dropdown-item>
                        <el-dropdown-item><i class="el-icon-download"></i>导出</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
        </div>
    </div>

    <div class="main-view">
        <div class="main-warp">
            <el-table
                    @row-contextmenu="rightClick"
                    @header-contextmenu="test"
                    @row-click="test1"
                    :data="tableData"
                    border
                    stripe
                    :height="clientHeight - 105"
                    style="width: 100%">
                <el-table-column
                        type="selection"
                        width="40">
                </el-table-column>
                <el-table-column
                        prop="date"
                        fixed
                        sortable="custom"
                        label="日期"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="name"
                        sortable="custom"
                        label="姓名"
                        width="180">
                </el-table-column>
                <el-table-column
                        v-for="item in 10"
                        prop="address"
                        width="180"
                        sortable="custom"
                        :label="'地址' + item">
                </el-table-column>
                <el-table-column
                        prop="tag"
                        label="标签"
                        width="100"
                        :filters="[{ text: '家', value: '家' }, { text: '公司', value: '公司' }]"
                        :filter-method="filterTag"
                        filter-placement="bottom-end">
                    <template slot-scope="scope">
                        <el-tag
                                :type="scope.row.tag === '家' ? 'primary' : 'success'"
                                disable-transitions>{{scope.row.tag}}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="addres1s"
                        width="120"
                        label="添加字段">
                    <template slot="header" slot-scope="scope">
                        <el-button @click="dialogVisible = true"  type="text"  icon="el-icon-circle-plus"></el-button>
                    </template>

                </el-table-column>
                <el-table-column
                        fixed="right"
                        label="操作"
                        width="130">
                    <template slot-scope="scope">
                        <el-link :underline="false" type="primary">查看</el-link>
                        <el-link :underline="false" type="primary">编辑</el-link>
                        <el-link :underline="false" type="primary">修改行色</el-link>
                        <el-link :underline="false" type="danger">删除</el-link>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>

    <div class="footer-view">
        <div class="footer-warp">
            <div>
                <el-button type="success" plain size="small">新增数据</el-button>
                <el-button type="primary" plain size="small">修改行色</el-button>
                <el-button type="danger" plain size="small">删除</el-button>
            </div>
            <div>
                <el-pagination
                        background
                        layout="prev, pager, next"
                        :total="1000">
                </el-pagination>
            </div>
        </div>
    </div>


</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- jquery -->
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>

    // 全局实例
    var globalVue = null;

    window.onresize = function () {
        if (globalVue) {
            globalVue.clientHeight = document.body.clientHeight
        }
    }

    new Vue({
        el: '#app',
        created: function () {
            // 赋值全局实例
            globalVue = this;
            // 初始化可视高度
            this.clientHeight = document.body.clientHeight;
        },
        data: function () {
            return {
                dialogVisible: false,
                menuVisible: false,
                loading: true,
                clientHeight: null,
                tableData: [{
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                    tag: '家'
                }, {
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                    tag: '家'
                }, {
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                    tag: '家'
                }, {
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                    tag: '家'
                }, {
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                    tag: '家'
                }, {
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                    tag: '家'
                }, {
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                    tag: '家'
                }, {
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                    tag: '家'
                }, {
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                    tag: '家'
                }, {
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                    tag: '公司'
                }, {
                    date: '2016-05-02',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                    tag: '公司'
                }, {
                    date: '2016-05-04',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                    tag: '公司'
                }, {
                    date: '2016-05-01',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                    tag: '家'
                }, {
                    date: '2016-05-08',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                    tag: '家'
                }, {
                    date: '2016-05-06',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                    tag: '家'
                }, {
                    date: '2016-05-07',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                    tag: '家'
                }]
            }
        },
        methods: {
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {});
            },
            test1(row, column, event){
                console.info();
            },
            test(column, event){
                this.menuVisible = false // 先把模态框关死，目的是 第二次或者第n次右键鼠标的时候 它默认的是true
                this.menuVisible = true // 显示模态窗口，跳出自定义菜单栏
                event.preventDefault() //关闭浏览器右键默认事件
                var menu = document.querySelector('.menu')
                this.styleMenu(menu)
            },
            rightClick(row, column, event) {
                this.testModeCode = row.testModeCode
                this.menuVisible = false // 先把模态框关死，目的是 第二次或者第n次右键鼠标的时候 它默认的是true
                this.menuVisible = true // 显示模态窗口，跳出自定义菜单栏
                event.preventDefault() //关闭浏览器右键默认事件
                this.CurrentRow = row
                var menu = document.querySelector('.menu')
                this.styleMenu(menu)
            },

            foo() {
                // 取消鼠标监听事件 菜单栏
                this.menuVisible = false
                document.removeEventListener('click', this.foo) // 关掉监听，
            },
            styleMenu(menu) {
                if (event.clientX > 1800) {
                    menu.style.left = event.clientX - 100 + 'px'
                } else {
                    menu.style.left = event.clientX + 1 + 'px'
                }
                document.addEventListener('click', this.foo) // 给整个document新增监听鼠标事件，点击任何位置执行foo方法
                if (event.clientY > 700) {
                    menu.style.top = event.clientY - 30 + 'px'
                } else {
                    menu.style.top = event.clientY - 10 + 'px'
                }
            },

            resetDateFilter() {
                this.$refs.filterTable.clearFilter('date');
            },
            clearFilter() {
                this.$refs.filterTable.clearFilter();
            },
            formatter(row, column) {
                return row.address;
            },
            filterTag(value, row) {
                return row.tag === value;
            },
            filterHandler(value, row, column) {
                const property = column['property'];
                return row[property] === value;
            }
        }
    });

</script>
</html>