<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/component-view.css">
    <link rel="stylesheet" href="/static/css/override.css">
    <link rel="stylesheet" href="/static/css/component-data-source.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vxe-table/lib/style.css">
</head>
<body onContextMenu="return false">
<div style="opacity: 0" id="app">

    <!--  全局右键菜单页面   -->
    <el-dropdown-menu id="tableContextMenu" v-show="menuContextVisible">
        <el-dropdown-item v-for="item in menus" @click="{{item.fun}}"><i :class="item.icon"></i>{{item.name}}</el-dropdown-item>
    </el-dropdown-menu>

    <!--  添加数据源 dialog  -->
    <el-dialog
            title="添加新数据源"
            :visible.sync="createDataSourceDialog"
            width="400px"
            :before-close="handleClose">
        <span slot="footer" class="dialog-footer">
            <el-button @click="createDataSourceDialog = false">取 消</el-button>
            <el-button type="primary" @click="createDataSourceDialog = false">确 定</el-button>
        </span>
        <el-form size="mini" label-position="top" label-width="80px">
            <el-form-item required="true" label="数据源名称">
                <el-input v-model="fieldCreateInfo.fieldName" show-word-limit minlength="3" type="text" maxlength="30" placeholder="填写字段名称" ></el-input>
            </el-form-item>
            <el-form-item label="数据源描述">
                <el-input v-model="fieldCreateInfo.fieldDesc" show-word-limit minlength="6" type="text" maxlength="200" placeholder="填写字段描述"></el-input>
            </el-form-item>
        </el-form>
        <el-divider content-position="left">添加属性</el-divider>




    </el-dialog>

    <!--  添加新字段 dialog  -->
    <el-dialog
            title="添加新字段"
            :visible.sync="createFieldDialogVisible"
            width="400px"
            :before-close="handleClose">
        <el-form size="mini" label-position="top" label-width="80px">
            <el-form-item required="true" label="字段名称">
                <el-input v-model="fieldCreateInfo.fieldName" show-word-limit minlength="3" type="text" maxlength="30" placeholder="填写字段名称" ></el-input>
            </el-form-item>
            <el-form-item label="字段描述">
                <el-input v-model="fieldCreateInfo.fieldDesc" show-word-limit minlength="6" type="text" maxlength="200" placeholder="填写字段描述"></el-input>
            </el-form-item>
            <el-form-item required="true" label="字段类型">
                <el-select value-key="fieldCode" v-model="fieldCreateInfo.fieldTypeInfo" placeholder="请选择字段类型">
                    <el-option v-for="item in fieldTypes" :label="item.fieldName" :value="item"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item v-if="fieldCreateInfo.fieldTypeInfo != null && fieldCreateInfo.fieldTypeInfo.isEnum == true" required="true" label="数据源">
                <el-popover
                        placement="right-start"
                        title=""
                        width="205"
                        trigger="click">
                    <el-button slot="reference">选择数据源 <i class="el-icon-arrow-right"></i></el-button>
                    <div class="data-source-view">
                        <div class="data-source-header">
                            <div>
                                <el-input placeholder="输入数据源名称" v-model="input3" class="input-with-select">
                                    <el-button slot="append" icon="el-icon-search"></el-button>
                                </el-input>
                            </div>
                            <div>
                                <i @click="createDataSourceDialog = true" style="cursor: pointer;" class="el-icon-circle-plus-outline"></i>
                            </div>
                        </div>
                        <div class="data-source-content">
                            <div class="data-source-list view-list-context">
<!--                                如果存在选中，则第一个就是-->
                                <div class="data-source-item view-list-item select-view-style">
                                    <div class="view-list-item-left">
                                        <div>当前选中的数据源</div>
                                    </div>
                                    <div class="view-list-item-right">
                                        <div>
                                            <i style="margin-right: 2px" class="el-icon-view"></i>
                                            <i style="margin-right: 2px" class="el-icon-edit-outline"></i>
                                            <i class="el-icon-circle-close"></i>
                                        </div>
                                    </div>
                                </div>
<!--                                如果存在选中，则这个列表中需要排除掉-->
                                <div v-for="item in 5" class="data-source-item view-list-item ">
                                    <div class="view-list-item-left">
                                        <div>测试数据源{{item}}</div>
                                    </div>
                                    <div class="view-list-item-right">
                                        <div>
                                            <i style="margin-right: 2px" class="el-icon-view"></i>
                                            <i style="margin-right: 2px" class="el-icon-edit-outline"></i>
                                            <i class="el-icon-circle-close"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </el-popover>
            </el-form-item>
            <el-form-item label="字段背景色">
                <div class="color-list-body">
                    <div @click="fieldCreateInfo.fieldColorCode = item.colorCode"
                         v-for="item in colorList"
                         :class="'color-list-item ' + (fieldCreateInfo.fieldColorCode != null && fieldCreateInfo.fieldColorCode == item.colorCode ? 'selectFieldColor' : '')"
                         :style="'background-color: ' + item.color"></div>
                </div>
            </el-form-item>
            <el-form-item label="是否固定">
                <el-radio-group v-model="fieldCreateInfo.fixed">
                    <el-radio border :label="1" >固定</el-radio>
                    <el-radio border :label="0" >不固定</el-radio>
                </el-radio-group>
            </el-form-item>
        </el-form>

        <span slot="footer" class="dialog-footer">
            <el-button @click="createFieldDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="createViewFieldInfo">添 加</el-button>
        </span>
    </el-dialog>

    <div class="header-view">
        <div class="header-warp">
            <div>

                <!--       视图列表部分         -->
                <el-popover
                        ref="viewWarpItem"
                        placement="bottom"
                        title=""
                        width="250"
                        trigger="click">

                    <!--           点击按钮             -->
                    <span slot="reference"
                          :class="'el-dropdown-link header-button ' + (currSelectViewInfo != nul ? 'select-header-button' : '')">
                        <span v-if="currSelectViewInfo == null">视图列表</span>
                        <span v-else>{{currSelectViewInfo.viewName}}</span>
                        <i class="el-icon-arrow-down el-icon--right"></i>
                    </span>

                    <!--        内容            -->
                    <div>
                        <div class="view-header">
                            <div>
                                <span class="view-header-name">视图</span>
                                <el-tooltip class="item" effect="dark" content="通过创建视图，将字段进行分视图管理" placement="right">
                                    <i class="el-icon-warning-outline"></i>
                                </el-tooltip>
                            </div>
                            <div>
                                <el-popover
                                        ref="createViewPopoverItem"
                                        placement="bottom"
                                        title="创建新视图"
                                        width="200"
                                        trigger="click">
                                    <i slot="reference" style="cursor: pointer" class="el-icon-circle-plus-outline"></i>
                                    <div>
                                        <el-input ref="viewNameInputRef" show-word-limit minlength="3" type="text" maxlength="30" size="mini" v-model="viewNameStorage" placeholder="请输入视图名称" ></el-input>
                                        <el-button @click="createView" style="margin-top: 7px;float: right;" type="primary" size="mini">创建</el-button>
                                    </div>
                                </el-popover>
                            </div>
                        </div>
                        <div class="view-context">
                            <div class="view-list-context">
                                <div :class="'view-list-item ' + (currSelectViewInfo != null && currSelectViewInfo.viewId == item.viewId ? 'select-view-style' : '') "
                                     @click="selectCurrViewItem(item,index)"
                                     v-for="(item,index) in viewList">
                                    <div class="view-list-item-left">
                                        <div>
                                            <i class="el-icon-s-data"></i>
                                            <span class="view-list-item-name">{{item.viewName}}</span>
                                        </div>
                                    </div>
                                    <div class="view-list-item-right">
                                        <el-dropdown placement="bottom-start">
                                            <i class="el-icon-more-outline"></i>
                                            <el-dropdown-menu slot="dropdown">
                                                <el-popover
                                                        :ref="'viewUpdatePopoverItem' + index"
                                                        placement="right-start"
                                                        title="修改视图"
                                                        width="200"
                                                        trigger="hover">
                                                    <el-dropdown-item slot="reference" ><i class="el-icon-edit"></i>修改视图名称 <i class="el-icon-arrow-right"></i></el-dropdown-item>
                                                    <div>
                                                        <el-input :ref="'viewNameUpdateInputRef' + index" show-word-limit minlength="3" type="text" maxlength="30" size="mini" v-model="viewNameStorage" placeholder="请输入视图名称" ></el-input>
                                                        <el-button @click="updateView(item.viewId,index)" style="margin-top: 7px;float: right;" type="primary" size="mini">修改</el-button>
                                                    </div>
                                                </el-popover>
                                                <el-popconfirm @confirm="removeView(item.viewId)" title="请再次确认删除操作!">
                                                    <el-dropdown-item slot="reference"><i class="el-icon-coffee"></i>删除该视图</el-dropdown-item>
                                                </el-popconfirm>

                                            </el-dropdown-menu>
                                        </el-dropdown>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </el-popover>
                <!--       视图列表结束         -->
                <el-button v-if="currSelectViewInfo != null" class="el-dropdown-link header-button" @click="createFieldDialogVisible = true" size="mini" icon="el-icon-circle-plus">添加新字段</el-button>

            </div>
            <div>
                <el-dropdown trigger="click">
                    <span class="el-dropdown-link header-button">
                        筛选<i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>黄金糕</el-dropdown-item>
                        <el-dropdown-item>狮子头</el-dropdown-item>
                        <el-dropdown-item>螺蛳粉</el-dropdown-item>
                        <el-dropdown-item disabled>双皮奶</el-dropdown-item>
                        <el-dropdown-item divided>蚵仔煎</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <el-dropdown trigger="click">
                    <span class="el-dropdown-link header-button">
                        <i class="el-icon-arrow-down el-icon-more"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item><i class="el-icon-upload2"></i>导入Excel</el-dropdown-item>
                        <el-dropdown-item><i class="el-icon-download"></i>导出</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
        </div>
    </div>
<!--clientHeight - 105-->
    <div class="main-view">
        <div class="main-warp">
            <el-table
                    @row-contextmenu="rightClick"
                    @header-contextmenu="tableHeaderContextMenu"
                    @row-click="test1"
                    :data="tableData"
                    border
                    stripe
                    :height="clientHeight - 105"
                    style="width: 100%">
<!--                没有任何列时-->
                <el-table-column
                        type="selection"
                        width="40">
                </el-table-column>

                <el-table-column
                        prop="tag"
                        label="标签"
                        width="100"
                        :filters="[{ text: '家', value: '家' }, { text: '公司', value: '公司' }]"
                        :filter-method="filterTag"
                        filter-placement="bottom-end">
                    <template slot-scope="scope">
                        <el-tag
                                :type="scope.row.tag === '家' ? 'primary' : 'success'"
                                disable-transitions>{{scope.row.tag}}
                        </el-tag>
                    </template>
                </el-table-column>
                没有任何列时不展示
                <el-table-column
                        fixed="right"
                        label="操作"
                        width="130">
                    <template slot-scope="scope">
                        <el-link :underline="false" type="primary">查看</el-link>
                        <el-link :underline="false" type="primary">编辑</el-link>
                        <el-link :underline="false" type="primary">修改行色</el-link>
                        <el-link :underline="false" type="danger">删除</el-link>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>

    <div class="footer-view">
        <div class="footer-warp">
            <div>
                <el-button type="success" plain size="small">新增数据</el-button>
                <el-button type="primary" plain size="small">修改行色</el-button>
                <el-button type="danger" plain size="small">删除</el-button>
            </div>
            <div>
                <el-pagination
                        background
                        layout="prev, pager, next"
                        :total="1000">
                </el-pagination>
            </div>
        </div>
    </div>


</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- jquery -->
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- vxe-table -->
<script src="https://cdn.jsdelivr.net/npm/xe-utils"></script>
<script src="https://cdn.jsdelivr.net/npm/vxe-table"></script>
<!-- 基础变量以及方法js -->
<script src="/static/js/base.js"></script>
<!-- view 相关 api -->
<script src="/static/js/api/view-request.js"></script>
<!-- vue 数据初始化 js -->
<script src="/static/js/vue-component/init.js"></script>
<!-- vue data js -->
<script src="/static/js/vue-component/data.js"></script>
<!-- vue methods js -->
<script src="/static/js/vue-component/methods.js"></script>
<!-- util -->
<script src="/static/js/util.js"></script>
<!-- menu -->
<script src="/static/js/vue-component/menu.js"></script>
<!-- 拓展接口 api -->
<script src="/static/js/api/expand-request.js"></script>
<!-- 字段 api -->
<script src="/static/js/api/field-request.js"></script>
<!-- 字段 api -->
<script src="/static/js/vue-component/entity/fieldInfo.js"></script>
<script>

    // Vue 全局实例
    var globalVue = null;

    // 创建 Vue 实例
    new Vue({
        el: '#app',
        created: init,
        data: data,
        methods: methods()
    });

</script>
</html>